{% extends 'base.html.twig' %} 
 {% block body %}
     {% for post in posts %}

         <a href="{{ url('showpost', {'id' : post.id}) }}">
         <h1>{{ post.title }}<h1> {{ post.publicationdate }}
                 <h3 class="h3">{{post.content}}</h3>
         </a> 
         
    {% endfor %}
 {% endblock %}