body{
    font-size: 18px;
}
a:hover{
    color: black;
}
a{
    color: black;
}

.last-line {
  word-wrap: break-word;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 10; /* number of lines to show */
   max-height: 250px; 
  
}
.first-line {
  word-wrap: break-word;
}
.col{
    margin-top: 50px;
}
.nav-item:hover{
    color: white;
    background: #5bc0de;
}
.logo{
    height: 100px;
    background: #5bc0de;
    color: white;
    text-align: center;
    font-size: 48px;
}
.nav{
    border-bottom: 1px solid black;
    margin: 0;
}
.container{
    border: 1px solid black; 
}
.textar{
    resize: none;
    width: 500px;
    height: 200px;
}